@import '../../../styles/Variables.scss';
.filterInput {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 6px;
  background-color: var(--background-color);
  padding: 8px;
  width: 22%;
}
.filterInput::-webkit-input-placeholder,
.filterInput::-moz-placeholder,
.filterInput::-ms-input-placeholder {
  color: $greys;
}
